# Maven
target/

# IDE
.idea/
*.iml
.vscode/
.reasonix/
.junie/
.claude/

# 环境变量（生产）
.env
.env.production

# 日志
*.log

# OS
.DS_Store
Thumbs.db

.codebuddy/
.workbuddy/
CODEBUDDY.md

backend/src/test/resources/application-test.yml
frontend_new/

